@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #1c1c1e;
	--foreground: #171717;
	--primary: #f2d76f;
	--secondary: #e97f96;
	--accent: #fbfbfb;
	--radius: 0.5rem;
}

html,
body {
	scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1c1c1e;
		--foreground: #ededed;
	}
}

@layer utilities {
}

@layer base {
	* {
	}
	body {
		@apply bg-background text-accent;
	}

	.bg-gradient {
		@apply bg-gradient-to-tr from-secondary to-primary bg-clip-text text-transparent;
	}

	.text-32 {
		@apply text-[32px] leading-tight;
	}

	.text-40 {
		@apply text-[40px] leading-tight;
	}

	.text-60 {
		@apply text-[60px] leading-tight;
	}

	.border-pj {
		@apply border-dashed border-[#4B4B53];
	}

	/* Container for images */
	.image-container {
		width: 100%;
		overflow: hidden;
		position: relative;
		margin-bottom: 20px;
	}

	.images {
		display: flex;
		width: 200%; /* Adjust this based on the number of images */
		transition: transform 0.3s ease; /* Smooth scroll effect */
	}

	.images img {
		width: calc(100% / 7); /* Display 7 images in the container */
	}

	/* Scroll bar container */
	.scroll-bar {
		width: 100%;
		height: 10px;
		background-color: #ccc;
		position: relative;
		cursor: pointer;
	}

	/* The draggable thumb */
	.scroll-thumb {
		width: 30px;
		height: 30px;
		background-color: #333;
		border-radius: 50%;
		position: absolute;
		top: -10px;
		left: 0;
		cursor: pointer;
	}

	.text-gradient {
		@apply text-transparent bg-clip-text bg-gradient-to-r from-[#CE80FF] via-[#80F0FF] to-[#B1FF80];
	}
}
