@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #1c1c1e;
	--foreground: #171717;
	--primary: #f2d76f;
	--secondary: #e97f96;
	--radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1c1c1e;
		--foreground: #ededed;
	}
}

@layer utilities {
}

@layer base {
	* {
	}
	body {
		@apply bg-background text-white;
	}

	.bg-gradient {
		@apply bg-gradient-to-tr from-secondary to-primary bg-clip-text text-transparent;
	}
}
