@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #1c1c1e;
	--foreground: #171717;
	--primary: #f2d76f;
	--secondary: #e97f96;
	--accent: #fbfbfb;
	--radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1c1c1e;
		--foreground: #ededed;
	}
}

@layer utilities {
}

@layer base {
	* {
	}
	body {
		@apply bg-background text-accent;
	}

	.bg-gradient {
		@apply bg-gradient-to-tr from-secondary to-primary bg-clip-text text-transparent;
	}

	.text-32 {
		@apply text-[32px] leading-tight;
	}

	.text-40 {
		@apply text-[40px] leading-tight;
	}

	.text-60 {
		@apply text-[60px] leading-tight;
	}

	.border-pj {
		@apply border-dashed border-[#4B4B53];
	}
}
